* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ddd;
    font-family: 'Poppins', sans-serif;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
}

h1{
    width: 100%;
    text-align:center;
    padding: 1em;
}

section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

section div {
    width: 210px;
    margin: 15px;
    padding: 0.7em;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    background-color: #fff;
}

section div h3{
    margin: 0.5em 0em;
}

section div h4{
    font-size: 0.875em;
    margin: 0.5em 0em;
    color:#333;
    font-weight: normal;
}

section div .button{
    width: 100%;
    border: none;
    padding: 0.7em;
    background-color: #000;
    color: #fff;
    margin: 0.5em 0em;
}

section div:hover{
    transform: translateY(-10px);
    box-shadow: 1.25px 1.25px 10px rgba(0,0,0,0.5);
}

img{
    width: 100%;
}